# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/

# Entorno virtual
.venv/
venv/

# Variables privadas
.env

# Editores
.vscode/
.idea/

# Sistema operativo
Thumbs.db
.DS_Store

# Información local
logs/*.log
data/*.db
data/*.sqlite3

models/
local_models/
*.wav

.venv-py314/
.pytest_cache/
__pycache__/
*.py[cod]
.env 
